<!DOCTYPE html>
<html>
<head>
      
    <!-- PARA APRENDER, USEI FRAMEWORK MATERIAL, MAS DEVERIA TER USADO MATERIALIZE, DEIXA QUIETO -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="styles.css">

    <!--angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    
</head>

<body ng-app="myApp" ng-controller="myCtrl" class="BACKGROUND-ICE">
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      

    <div class="mdl-layout mdl-js-layout ">
        <div class="mdl-layout--fixed-header">
        <header class="mdl-layout__header" style="background-color:rgb(0,200,200)">
            <div class="mdl-layout__header-row">
                <!-- Title -->

                <!-- link para ATG -->
                <span class="mdl-layout-title"><a  href="http://www.americastg.com/pt/ATG_pt"> ATG <img ng-src="imgs/atgT.png"/> </a></span>

                <!--<div class="mdl-layout-spacer"></div>-->
                <!-- Navigation -->
                <div class="mdl-navigation">

                    <!--atualiza os valores-->
                        <b>{{hora}}</b>
                    <button class="mdl-navigation__link" href="" ng-click="updateValues()" style="color:gray">Update</button>
                </div>
            </div>
        </header>
        </div>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">ATG <img ng-src="imgs/atg.png"/> </span>
            <div class="mdl-navigation">
                <a class=" mdl-navigation__link" href="">Estatísticas</a>
                <a class=" mdl-navigation__link" href="">Serviços</a>
                <a class=" mdl-navigation__link" href="">Configuração</a>
            </div>
        </div>

        <!-- core da aplicação abaixo-->
        <main class="mdl-layout__content">
            <div class="row">
                <div class="mdl-grid col ">
                    <div ng-repeat="currency in currencies" class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone  mdl-shadow--2dp BACKGROUND-CYAN WHITE">
                            <img style="max-width:25%; " ng-src="{{'imgs/' +currency.name + '.png'}}" /> 
                            
                                <span style="font-size:0.75em"> USD/{{currency.name}} </span>
                <span style="font-size: 1.25em; "> 
                                    {{currency.symbol}} {{currency.value}} 
                                <span ng-if="currency.rate!='--'" ng-class="currency.rate>=0? 'GREEN':'RED'" style="font-size:0.75em"> 
                                    ({{currency.rate>0? "+":""}}  {{currency.rate+ "%"}})
                                    <img style="width:1em" ng-if="currency.rate*1!=0" ng-src="{{currency.rate>0?'imgs/upT.png':'imgs/downT.png'}}"/>
                                </span>
                </span>
                <!--<div class="mdl-card__text"></div>-->
                        </div>
                    </div>
            </div>

    <div class="row ">
        <div class="col m2 offset-m5 s10 offset-s1 INFO-EXCHANGE  ">
            <!--<div class="mdl-grid">-->
                <span> Exchange</span>
                <input class="INPUT" min=0 size=3 style="width:20%" ng-model="currency_value_from" type="number" />
            <!--</div>-->
        
        <!--<div class="col ">
            <div class="mdl-grid">-->
                <select class="INPUT" ng-model="currency_from"  value="EUR">
                            <option value="USD" >USD - Dollar</option>
                            <option value="EUR" selected>EUR- Euro</option>
                            <option value="GBP">GBP - Pound Sterling</option>
                            <option value="JPY">JPY - Yen</option>
                            <option value="CNH">CNH - Yuan</option>
                        </select>
            <!--</div>

        </div>-->

        <!--<div class="col">-->
            <!--<div class="mdl-grid">-->
                To <select class="INPUT" ng-model="currency_to" value="GBP">
                            <option value="USD" >USD - Dollar</option>
                            <option value="EUR" >EUR- Euro</option>
                            <option value="GBP" selected>GBP - Pound Sterling</option>
                            <option value="JPY">JPY - Yen</option>
                            <option value="CNH">CNH - Yuan</option>
                    </select>
            <!--</div>-->
        <!--</div>-->
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell">
            <center class="INFO-CENTER">
                {{currencies[currency_from].symbol}} {{currency_value_from}} ({{currency_from}}) is equal to {{currencies[currency_to].symbol}} {{ calcExchange(currency_value_from)}} ({{currency_to}})
            </center>
        </div>
    </div>

    <!--{{currencies}}-->        
    <small>(obs: se o conteúdo parecer estar com problema, verificar se o browser proibiu a execução de scripts)</small>
    </main>
    </div>

    <script>
        (function(){
         $(document).ready(function() {
            $('select').material_select();
        });
        })();
    </script>
</body>

</html>